<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>

  </h1>
</section>


<section class="content">

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-ticket"></i>

          <h3 class="box-title">Avengers: Guerra Infinita</h3><span class="pull-right"><i class="fa fa-star"></i>
            4.5</span>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="col-sm-3 col-xs-12">
            <img class="box-img-detail" src="assets/img/movies/avengers.jpg" />
          </div>

          <dl class="col-sm-9 col-xs-12">
            <dt>Gênero</dt>
            <dd>Ação e Aventura</dd>
            <dt>Ano de Lançamento</dt>
            <dd>2018</dd>
            <dt>Duração</dt>
            <dd>156 minutos</dd>
            <dt>Estúdio</dt>
            <dd>Walt Disney Pictures</dd>
            <dt>Sinopse</dt>
            <dd>Thanos enfim chega à Terra, disposto a reunir as Joias do Infinito. Para enfrentá-lo, os Vingadores
              precisam unir forças com os Guardiões da Galáxia, ao mesmo tempo em que lidam com desavenças entre alguns
              de seus integrantes.</dd>
            <dt>Quero fazer uma avaliação</dt>
            <dd><a href="review.html" class="btn btn-success"><i class="fa fa-edit"></i> Avaliar</a></dd>
          </dl>
        </div>
        <!-- /.box-body -->
        <div class="box-footer detail-footer">
          <a class="pull-left detail-active" href="detail-movie.html">
            Atores
          </a>
          <a class="pull-right" href="detail-movie-reviews.html">
            Avaliações
          </a>
        </div>
      </div>
    </div>
    <!-- /.col-xs-12 -->

  </div>


  <div class="row">
    <!--INÍCIO DOS ATORES -->
    <div class="col-sm-6 col-xs-12">
      <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/cast/robert_downey.jpg"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">Robert Downey Jr.</span>
          <span class="menu-item-info-box-detail">Tony Stark / Homem de Ferro</span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </div>
    <!-- /.info-box -->

    <div class="col-sm-6 col-xs-12">
      <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/cast/chris_hemsworth.jpg"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">Chris Hemsworth</span>
          <span class="menu-item-info-box-detail">Thor</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/cast/mark_ruffalo.jpg"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">Mark Ruffalo</span>
          <span class="menu-item-info-box-detail">Bruce Banner / Hulk</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/cast/chris_evans.jpg"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">Chris Evans</span>
          <span class="menu-item-info-box-detail">Steve Rogers / Capitão América</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>



    <!-- FIM DOS ATORES -->
  </div>

</section>
<!-- FIM DO CONTEÚDO -->