<div class="wrapper">

  <!-- Início do header -->
  <mv-header></mv-header>
  <!-- Fim do header -->

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>
      
    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Movies</strong> Aplicação Angular
    </div>
  </footer>
</div>