<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Todos os Filmes
  </h1>
</section>


<section class="content">

  <div class="row">
          <div class="col-sm-6 col-xs-12">
            
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/movies/black_panther.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Pantera Negra</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 4.1</span>
                <div class="place-info-box-detail">Ação e Aventura</div>
                <span class="place-info-box-detail">2018</span>
                <span class="place-info-box-detail">135 minutos</span>
                <span class="place-info-box-detail">Marvel Studios</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/movies/deadpool.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Deadpool 2</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 4.1</span>
                <div class="place-info-box-detail">Ação e Aventura</div>
                <span class="place-info-box-detail">2018</span>
                <span class="place-info-box-detail">119 minutos</span>
                <span class="place-info-box-detail">20th Century Fox</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/movies/death_stalin.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">A Morte de Stalin</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 3.8</span>
                <div class="place-info-box-detail">Drama</div>
                <span class="place-info-box-detail">2018</span>
                <span class="place-info-box-detail">107 minutos</span>
                <span class="place-info-box-detail">IFC Films</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/movies/hereditary.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Hereditário</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 3.4</span>
                <div class="place-info-box-detail">Terror</div>
                <span class="place-info-box-detail">2018</span>
                <span class="place-info-box-detail">127 minutos</span>
                <span class="place-info-box-detail">Windy Hill Pictures</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/movies/incredibles_2.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Os Incríveis 2</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 4.2</span>
                <span class="place-info-box-detail">Animação</span>
                <span class="place-info-box-detail">2018</span>
                <span class="place-info-box-detail">118 minutos</span>
                <span class="place-info-box-detail">Disney Pixar</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/movies/mission.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Missão Impossível: Fallout</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 4.3</span>
                <span class="place-info-box-detail">Ação e Aventura</span>
                <span class="place-info-box-detail">2018</span>
                <span class="place-info-box-detail">147 minutos</span>
                <span class="place-info-box-detail">Paramount Pictures</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/movies/star_wars.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Star Wars: O Último Jedi</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 2.9</span>
                <span class="place-info-box-detail">Ficção Científica</span>
                <span class="place-info-box-detail">2017</span>
                <span class="place-info-box-detail">152 minutos</span>
                <span class="place-info-box-detail">Walt Disney Pictures</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

        </div>

</section>

<!-- FIM  do CONTEÚDO -->