<!-- INICIO DO CONTEUDO -->
<div class="col-xs-12 col-sm-6">

  <div class="box box-solid">
    <div class="box-header with-border">
      <span class="review-score pull-right"><i class="fa fa-star"></i> 3</span>
      <div class="user-block">
        <img alt="User Image" class="img-circle" src="assets/img/reactions/loved.png">
        <span class="username">André</span>
        <span class="description">24/10/2018</span>
      </div>
    </div>

    <div class="box-body">
      <p>Esse filme poderia ter sido melhor em vários aspectos, mas ainda continua sendo bom</p>
    </div>
  </div>

</div>
<div class="col-xs-12 col-sm-6">

  <div class="box box-solid">
    <div class="box-header with-border">
      <span class="review-score pull-right"><i class="fa fa-star"></i> 5</span>
      <div class="user-block">
        <img alt="User Image" class="img-circle" src="assets/img/reactions/soso.png">

        <span class="username">Jhonny</span>
        <span class="description">23/10/2018</span>
      </div>
    </div>

    <div class="box-body">
      <p>Eu amei esse filme, é isso!</p>
    </div>
  </div>

</div>
<div class="col-xs-12 col-sm-6">

  <div class="box box-solid">
    <div class="box-header with-border">
      <span class="review-score pull-right"><i class="fa fa-star"></i> 2.5</span>
      <div class="user-block">

        <img alt="User Image" class="img-circle" src="assets/img/reactions/pissed.png">
        <span class="username">Alexandre</span>
        <span class="description">15/10/2018</span>
      </div>
    </div>

    <div class="box-body">
      <p>Mais um filme de ação que o vilão todo poderoso quer destruir a Terra. Pelo menos os efeitos especiais agradam os olhos.</p>
    </div>
  </div>

</div>
<div class="col-xs-12 col-sm-6">

  <div class="box box-solid">
    <div class="box-header with-border">
      <span class="review-score pull-right"><i class="fa fa-star"></i> 5</span>
      <div class="user-block">
        <img alt="User Image" class="img-circle" src="assets/img/reactions/loved.png">
        <span class="username">Renata</span>
        <span class="description">02/10/2018</span>
      </div>
    </div>

    <div class="box-body">
      <p>Totalmente épico. O filme é incrível</p>
    </div>
  </div>

</div>
<!--FIM DO CONTEUDO -->